img{
  max-width: 400px;
  height: 300px;
}
.column1{
width: 30%;
margin-left: 50px;
float: left;
font-size: 150%;
text-align: center;
background-color: red;
}
.column2{
  width: 30%;
  float: left;d
  font-size: 150%;
  text-align: center;
  background-color: white;
  }
  .column3{
    width: 30%;
    float: left;
    font-size: 150%;
    text-align: center;
    background-color: blue;
    }
h1{
text-align: center;
}
.bold{
font-size: 225%
}